<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script> 
<nav class="navbar-pill navbar-inverse" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('ibase_home') }}">Home</a>
            </li>
            <li class="dropdown" id="dropdown_product">
                <a href="{{ path('product')}}" 
                   class="dropdown-toggle" data-toggle="dropdown">
                    Product 
                    <span class="caret"></span> 
                </a>
                <ul class="dropdown-menu" id="top_menu" role="menu">
                        {% if categories %}
                            {% for category in categories %}
                            {% if category.topCategory is null%}
                                <li>
                                    <a href="{{ path('product_list_category', {'slug':category.name}) }}">
                                        {{category.name}}
                                        <span class="caret"></span>
                                    </a>
                                    
{#                                        {%if category.getSubCategory %}#}
                                        <ul class="dropdown-menu" id="sub_menu" role="menu">
                                            {% for sub in category.getSubCategory %}
                                            <li>
                                                <a href="{{ path('product_list_category', {'slug':sub.name}) }}">
                                                    {{sub.name}}
                                                </a>
                                            </li>
                                            
                                    {% endfor %}
                                        </ul>
{#                                        {% endif %}#}
                                </li>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                </ul>
            </li>
            {#{%if categories%}
                {% for category in categories%}
                    {% if category.topCategory is null%}
                    <li class="dropdown">
                        <a href="{{ path('product_list_category', {'slug':category.name}) }}" 
                           class="dropdown-toggle" data-toggle="dropdown">
                            {{category.name}} 
                            <span class="caret"></span> 
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('product_list_category', {'slug':category.name}) }}">
                                    {{category.name}}
                                </a>
                            </li>
                            {% for sub in category.getSubCategory %}
                            <li>
                                <a href="{{ path('product_list_category', {'slug':sub.name}) }}">
                                    {{sub.name}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
            {% endif %}#}
            <li>
                <a href="{{ path('ibase_about_us') }}">
                    About Us
                </a>
            </li>
            <li>
                <a href="{{ path('ibase_contact_us') }}" 
                   target="_blank">
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
</nav>  
