{% extends '::base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background-color:#990000">
        <img src="{{logo}}" alt="Ibase Trading" width="310" height="90" />
    </div>
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <th>Your products are ready to pay!</th>
                        </tr>
                        <tr>
                            <td valign="top">
                                <p>Dear {{order.customer.firstName}}:</p>
                                {% set orderNum = '100000' %}
                                {% set orderNum = "#{orderNum + order.getId}" %}
                                <p>
                                    Thanks for shopping on Ibase Trading online 
                                    store. Here is your order number 
                                    (<strong>Oder Number:{{orderNum}}</strong>).
                                </p>
                                <table width="100%" border="1">
                                  <tr>
                                {#<td>Img</td>#}
                                      <th>Item#</th>
                                      <th>Item title</th>
                                      <th>Qty</th>
                                      <th>Price</th>
                                  </tr>
                                  {% set products = order.purchasePerItem %}
                                  {% for pros in products%}
                                      {% set pro = pros.product %}
                                  <tr>
                                      {#{% if pro.images is not null %}
                                      <td><img src="ibasetrading.com.au{{pro.images[0].getWebPath}}" width="50" height="50"/></td>
                                      {% else %}
                                      <td>No image</td>
                                      {% endif %}#}
                                      <td style="text-align:center;vertical-align:middle;">{{pro.getModel}}</td>
                                      <td style="text-align:center;vertical-align:middle;">{{pro.name}}</td>
                                      <td style="text-align:center;vertical-align:middle;">{{pros.quantity}}</td>
                                      <td style="text-align:center;vertical-align:middle;">${{pro.price}}</td>
                                  </tr>
                                  {% endfor %}
                                  <tr>
                                      <td colspan="5" style="text-align:center;vertical-align:middle;">
                                          <strong>Sub Total:${{order.getTotalAmount}}</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="5" style="text-align:center;vertical-align:middle;">
                                          <strong>Shipping:${{order.getDeliveryFee}}</strong>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="5" style="text-align:center;vertical-align:middle;">
                                          {% set total = "#{order.getTotalAmount + order.getDeliveryFee}" %}
                                          <strong>Total:${{total}}</strong>
                                      </td>
                                  </tr>
                                </table>
                                <p>
                                    If your order involves freight, the freight
                                    charge has been added to your order.
                                </p>
                                <p>
                                   You can continue to finish payment by Paypal 
                                   or Bank Transfer.
                                </p>
                                <p>
                                    You can use credit card on Paypal system no
                                    need to have a Paypal account.
                                </p>
                                <p>
                                    <a href="{{url('ibase_reorder',{'orderNum': orderNum})}}" >
                                        <button type="button">Confirm and Process Payment</button>
                                    </a>
                                </p>
                                <br />
                                <h3>Bank detail:</h3>
                                <p>Account Name: Ibase Trading Pty Ltd</p>
                                <p>BSB:014286</p>
                                <p>A/C Number: 529497969</p>
                                <p>Branch: ANZ SunnyBank Hills</p>
                                <p>Branch Address: Cnr Calam and Compton Roads, Sunnybank Hills 4109</p>
                                <p>Please use your order number as reference or
                                let us know the reference number/message.</p>
                                <br />
                                <p>
                                    Kind Regards,
                                </p>
                                <br />
                                <p>
                                    Ibase Trading Pty Ltd.
                                </p>
                                <br />
                                <p>Contact</p>
                                <p>Email:support@ibase-trading.com</p>
                                <p>© Copyright 2014, Ibase.com</p>
                                <p style="font-size:12px; line-height:16px; margin:0;">
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
       </table>
    </div>
</body>
{% endblock%}
{% block footer %}{% endblock %}
